// ACTION-LINKS
.action-links {
  margin: auto;
}
.action-links {
  list-style: none;  
  padding: 1rem;
  a {
    background: $color1;
    color: #fff;
    display: inline-block;
    padding: .5rem;
    &:hover {
      background: $color3;
      text-decoration: none;
    }
  }
}

// LINKS
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

