/* BUTTONS */
.btn, a.btn {
    font-family: $font-primary;
    font-weight: normal;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    background: $color1;
    padding: 16px 32px;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.2s ease;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none; // removes platform specific styling
    margin-bottom: 0.125rem;
}
.btn:hover, a.btn:hover,
.btn-invert:hover, a.btn-invert:hover,
.btn-text:hover, a.btn-text:hover {
    background: #000;
    color: #fff;
    border-color: #000;
    text-decoration: none;
}

.btn-invert, a.btn-invert {
    @extend .btn;  // use default btn style
    background: #fff;
    color: $color1;
    border: 1px solid $color1;
}
.btn-text, a.btn-text {
    @extend .btn;  // use default btn style
    background: none;
    color: $color1;
    border: 1px solid #ffffff00;
}

.btn-text.tiny
.btn-invert.tiny,
.btn.tiny {
    padding: 8px 16px; // -1px to correct border
    font-size: 0.625rem; //10px
    letter-spacing: .2px;
}
.btn-text.small,
.btn-invert.small,
.btn.small {
    padding: 7px 16px; // -1px to correct border
    font-size: 1rem; //16px
    letter-spacing: .2px;
}
.btn-text.large,
.btn-invert.large,
.btn.large {
    padding: 15px 32px; // -1px to correct border
    font-size: 2rem; //32px
    letter-spacing: .2px;
}



// SOCIAL BUTTONS
.btn-social {
    font-size: 0;
    &:before {
        display: inline-block;
        font-family: $sp-icons;
        font-size: 2rem;
        text-transform: none;
        padding: 0.5rem;
        background: $color1;
        color: #fff;
        border: 1px solid #fff;
        margin-bottom: 0.125rem;
    }
    &:hover::before {
        background: #000;
        color: #fff;
        text-decoration: none;
        border: 1px solid #000;
    }
}
.btn-social.facebook {
    &:before {
        content: 'f';
    }
}
.btn-social.twitter {
    &:before {
        content: 't';
    }
}
.btn-social.instagram {
    &:before {
        content: 'i';
    }
}
.btn-social.whatsapp {
    &:before {
        content: 'W';
    }
}
.btn-social.linkedin {
    &:before {
        content: 'l';
    }
}
.btn-social.email {
    &:before {
        content: 'm';
    }
}
.btn-social.colored {
    font-size: 0;
    &:before {
        display: inline-block;
        font-family: $sp-icons;
        font-size: 2rem;
        text-transform: none;
        padding: 0.5rem;
        background: #fff;
        color: #ddd;
        margin-bottom: 0.125rem;
        border:none;
    }
    &:hover::before {
        color: #fff!important;
        text-decoration: none;
        border:none;
    }
}
.btn-social.colored.facebook {
    &:before {
        color: $facebook;
    }
    &:hover::before {
        background: $facebook;
    }
}
.btn-social.colored.twitter {
    &:before {
        color: $twitter;
    }
    &:hover::before {
        background: $twitter;
    }
}
.btn-social.colored.instagram {
    &:before {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
        /* Also define standard property for compatibility */
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover::before{
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        -webkit-text-fill-color: #fff;
    }
}
.btn-social.colored.whatsapp {
    &:before {
        color: $whatsapp;
    }
    &:hover::before {
        background: $whatsapp;
    }
}
.btn-social.colored.linkedin {
    &:before {
        color: $linkedin;
    }
    &:hover::before {
        background: $linkedin;
    }
}
.btn-social.colored.email {
    &:before {
        color: $color1;
    }
    &:hover::before {
        background: $color1;
    }
}
