/* BUTTONS */
.btn, a.btn {
    font-family: $font-primary;
    font-weight: normal;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    background: $color1;
    padding: 16px 32px;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.2s ease;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none; // removes platform specific styling
    margin-bottom: 0.125rem;
}
.btn:hover, a.btn:hover,
.btn-invert:hover, a.btn-invert:hover,
.btn-text:hover, a.btn-text:hover {
    background: #000;
    color: #fff;
    border-color: #000;
    text-decoration: none;
}

.btn-invert, a.btn-invert {
    @extend .btn;  // use default btn style
    background: #fff;
    color: $color1;
    border: 1px solid $color1;
}
.btn-text, a.btn-text {
    @extend .btn;  // use default btn style
    background: none;
    color: $color1;
    border: 1px solid #ffffff00;
}

.btn-text.tiny
.btn-invert.tiny,
.btn.tiny {
    padding: 8px 16px; // -1px to correct border
    font-size: 0.625rem; //10px
    letter-spacing: .2px;
}
.btn-text.small,
.btn-invert.small,
.btn.small {
    padding: 7px 16px; // -1px to correct border
    font-size: 1rem; //16px
    letter-spacing: .2px;
}
.btn-text.large,
.btn-invert.large,
.btn.large {
    padding: 15px 32px; // -1px to correct border
    font-size: 2rem; //32px
    letter-spacing: .2px;
}



// SOCIAL BUTTONS
.btn-social {
    font-size: 0;
    &:before {
        font-family: $sp-icons;
        font-size: 2rem;
        text-transform: none;
        padding: 0.5rem;
        border: 1px solid $color1;
    }
    &:hover::before {
        background: $color1;
        color: #fff;
        text-decoration: none;
    }
}
.btn-social.facebook {
    &:before {
        content: 'f';
    }
}
.btn-social.twitter {
    &:before {
        content: 't';
    }
}
.btn-social.instagram {
    &:before {
        content: 'i';
    }
}
.btn-social.whatsapp {
    &:before {
        content: 'w';
    }
}
.btn-social.linkedin {
    &:before {
        content: 'l';
    }
}
.btn-social.email {
    &:before {
        content: 'm';
    }
}