.counter {
	margin-bottom: 12px;
	overflow: hidden;
	width: 100%;
	display: table;
    .counter--target, 
    .counter--count {
    	color: #000;
		font-size: 1.25rem;
		font-weight: 700;
    	text-align: center;
    	display: table-cell;
    	padding: 0;
    	vertical-align: middle;
    }
    .counter--target {
    	padding-left: 12px;
		min-width: 100px;
		text-align: left;
    }
    .counter--count {
    	padding-right: 12px;
		min-width: 100px;
		text-align: right;
    }
    .counter--progress-wrapper {

    	display: table-cell;
    	width: 100%;
    	padding: 0;
    	vertical-align: middle;
    }
    .counter--progress {
    	background: #fff;
    	height: 16px;
    	padding: 0;
    	display: block;
    	overflow: hidden;
    	border-radius: 16px;
    	background: #eee;
        .progress--progress {
        	height: 16px;
        	display: block;
			background: $color3;
			background: linear-gradient(90deg, rgb(255, 236, 21) 0%, rgb(236, 27, 35) 58%);
        }
    }
}