// HEADER

// SITE HEADER
.site-header {
    background: #fff; 
    border-top: 5px solid $color1;
    display: grid;
    border-bottom: 1px solid #ddd;
}
.site-name {
    margin: 0;
    padding: 0;
    font-size: 1.4142em;
    a {
    text-decoration: none;
    color: #222;
    }
}


// LOGO
.site-logo {
    img, svg {
        fill: $color1;
        width: auto;
        height: 62px; // 70 - 8
        padding: 4px;
    }
}


// NAVIGATION
.site-navigation .primary-menu {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
        margin: 0;
        padding: 0;
        display: inline-block;
        a {
            text-transform: uppercase;
            font-family: $font-primary;
            padding: 20px;
            font-size: 20px;
            display: inline-block;
            &:hover {
                text-decoration: none;
                color: #000;
            }
        }
    }
    li.active-trail a {
        color: #aaa;
        background: #fff;
    }
}


// HAMBURGER MENU (old)
.menu-toggle {
    display: none; //disable hamburger menu
}
@media only screen and (max-width: 800px){
    .site-navigation {
        top: 70px;
        left: 0;
        background: #fff;
        z-index: 2;
        width: 100%;
        position: fixed;
        .primary-menu {
            display: none;
            flex-direction: column;
            border-bottom: 1px solid #ddd!important;
            li {
                display: block;
                text-align: left;
                width: 100%;
                margin: 0!important;
            }
            a {
                font-size: 1.14em;
                border-top: 1px solid #ddd;
                display: block;
                font-weight: normal;
                display: block!important;
            }
        }
    }
    .menu-toggle {
        display: block; // enable hamburger menu
        position: absolute;
        top: 20px;
        right: 14px;
        z-index: 2;
        cursor: pointer;
        button {
            display: block;
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            outline: none; //remove chrome-safari default focus
            .text {
                display: none;
            }
            &:after {
                font-family: $sp-icons;
                content: 'h';
                display: block;
                float: right;
                background: #fff;
                color: $color1;
                font-size: 30px;
                padding: 0;
                margin: 0;
                line-height: .94;
                height: 32px;
                width: 37px;
            }
        }
    }
}
