// KANDIDAAT
.node-kandidaat {
	background: #fff;
	padding-bottom: 6rem;
	.field-banner {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			max-height: 580px;
		}
		margin-bottom: 1rem;
	}
	@media screen and (min-width: 1920px){
		.field-banner img {
			max-height: 33vw;
		}
	}
	.positie-en-rol {
		font-family: $font-middle;
		font-size: 0.8rem;
		display: inline-grid;
		grid-template-columns: auto auto;
		margin-bottom: 1rem;
		.positie {
			text-align: center;
			background: $color1;
			color: #fff;
			padding: 0.5rem;
		}
		.rol {
			background: #ddd;
			color: #757575;
			padding: 0.5rem;
		}
	}
	.field-intro p {
		font-family: $font-strong;
	}
	.persoon {
		margin-top: 2rem;
		display: inline-grid;
		max-width: 520px;
		grid-template-columns: minmax(100px, 1.5fr) minmax(auto, 3fr);
		.portret img {
			display: block; //remove whitespace
		}
		.info {
			padding: 1rem;
			background: #f1f1f1;
			font-size: 0.8rem;
			.naam {
				font-size: 1.25rem;
				margin-bottom: 0.5rem;
			}
			.inline div{
				display:inline-block;
			}
		}
	}
}