// KANDIDAAT
.node-kandidaat {
	background: #fff;
	.positie-en-rol {
		font-family: $font-middle;
		font-size: 0.8rem;
		display: grid;
		grid-template-columns: 30px minmax(auto, 180px);
		margin-bottom: 1rem;
		.positie {
			text-align: center;
			background: $color1;
			color: #fff;
			padding: 0.5rem;
		}
		.rol {
			background: #ddd;
			color: #757575;
			padding: 0.5rem;
		}
	}
	.persoon {
		display: inline-grid;
		max-width: 520px;
		grid-template-columns: 1.5fr 2.5fr;
		.portret {
		}
		.info {
			padding: 1rem;
			background: #f1f1f1;
			font-size: 0.8rem;
			.field-name-field-volg-mij {
				margin-top: 1rem;
			}
		}
	}
	.field-banner {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			max-height: 580px;
		}
		margin-bottom: 1rem;
	}
	.field-intro p {
		font-family: $font-strong;
	}
}