// LAYOUT
$content-width: 960px;

.layout-body {
	display: grid;
	height: 100%;
	width: 100%;
}
.layout-page {
	display: grid;
	grid-template-rows: 70px 1fr 136px;
}
.layout-site-header {
	grid-template-columns: 120px 1fr 120px;
	position: sticky;
	z-index: 2;
	top:0;
	left:0;
	right:0;
}
.layout-content-container {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 1rem;
}