// LAYOUT
.layout-body {
	display: grid;
	height: 100%;
	width: 100%;
}
.layout-page {
	display: grid;
	grid-template-rows: 70px 1fr 150px;
	padding-top: 70px; // for fixed header
}
.layout-site-header {
	grid-template-columns: 120px 1fr 120px;
	position: fixed;
	z-index: 1;
	top:0;
	left:0;
	right:0;
}