// LAYOUT
$content-width: 960px;

.layout-body {
	display: grid;
	height: 100%;
	width: 100%;
}
.layout-page {
	padding-top: 74px; // extra padding for fixed header
}
.layout-site-header {
	grid-template-columns: 120px 1fr 120px;
	position: fixed;
	z-index: 2;
	top:0;
	left:0;
	right:0;
}
.logged-in .layout-site-header {
	top: 20px;
}
.layout-primary-content {
	min-height: calc(100vh - 74px - 136px); //quickfix floating footer
}
.layout-content-container {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 1rem;
}