// MENU

// DRUPAL MENU (old code)
ul.menu {
  border: none;
  list-style: none;
  text-align: left; /* LTR */
}
ul.menu li {
  margin: 0 0 0 0.5rem; /* LTR */
}
ul.menu li.expanded,
ul.menu li.collapsed,
ul.menu li.leaf {
  padding: 0.2rem 0.5rem 0 0; /* LTR */
  margin: 0;
}
// li a.active {
//   color: #000;
// }
td.menu-disabled {
  background: #ccc;
}