// PANELS
.extra-padding{
	background: #f1f1f1;
	padding: 3rem 0;
}
// end shame


.pane-titel-met-tekst {
	background: #fff;
	padding: 3rem 1rem;
	display: grid;
	grid-template-columns: minmax(auto,960px);
	justify-content: center;
}