// PARAGRAPHS
$fullscreen_height: calc(100vh - 141px); //70px header 71px footer

// BANNER FULLFRAME
.paragraphs-item-banner-fullframe .content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(640px, $fullscreen_height);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-content: center;
	justify-content: center;
	.field-name-field-afbeelding {
		grid-area: 1 / 1 / 2 / 2;
		img {
			display: grid;
			min-width: 360px;
			width: 100%;
			height: $fullscreen_height;
			object-fit: cover;
			min-height: 640px;
		}
	}
	.field-name-field-inhoud {
		grid-area: 1 / 1 / 2 / 2;
		display: grid;
		align-items: end;
		margin-left: 1rem;
		margin-right: 1rem;
		color: #fff;
		text-shadow: $text-shadow;
		padding-bottom: 10vh;
		a.btn {
			text-shadow: none;
			border: none;
			box-shadow: $box-shadow;
			line-height: 1.2;
		}
		h1 {
			font-size: 2rem;
			font-size: calc(2rem + 2vw);
			color: #fff;
			line-height: 1.2;
		}
		p {
			font-family: $font-middle;
			font-size: 1.5rem;
			font-size: calc(2rem + 2vw);
			line-height: 1.2;
		}
	}
}


// BLOK: TEKST MET AFBEELDING
.paragraphs-item-tekst-met-afbeelding {
	background: #f1f1f1;
	padding: 1.5rem;
	> .content {
		margin: 1rem 0;
		background: #fff;
		.inhoud {
			padding: 2rem;
		}
		.field-link {
			//quickfix
			.btn.standpunt {
				border: 1px solid #fff;
				color: #333;
				padding: 7px 2px;
				font-family: $font-middle;
				text-transform: none;
				&:before {
					content: 'T';
					font-family: $sp-icons;
					margin-right: 0.25rem;
					color: $color1;
				}
				&:hover {
					color: #fff;
				}
			}
			//end quickfix
			.field-item {
				display: block;
			}
		}
	}
	@media screen and (max-width: 999px){
		.content {
			max-width: 600px;
			margin: 0 auto;
			.field-link {
				text-align: center;
				.btn.standpunt {
					font-size: 1rem;
				}
			}
			.afbeelding {
				display: none;
			}
			.inhoud {
				padding-bottom: 2rem;
			}
		}
	}
	@media screen and (min-width: 1000px){
		.content {
			max-width: 1000px;
			margin: 0 auto;
			display: flex;
			.afbeelding,
			.inhoud {
				max-width: 50%
			}
			.field-link {
				text-align: left;
				.field-item:last-child{
					text-align: right;
				}
				.standpunt {
					text-align: left;
				}
			}
		}
	}
}




// BLOK: TEKST
.paragraphs-item-tekst {
	padding: 2rem 1rem;
	background: #fff;
	.field-name-field-inhoud{
		//background: #fff;
		.field-inhoud{
			max-width: $content-width;
			margin: 0 auto;
			padding: 2rem 1rem;
		}
		@media screen and (min-width: $content-width){
			.field-inhoud {
				padding: 100px 1rem;
			}
		}
	}
}


// INHOUD: BREADCRUMBS
.paragraphs-item-inhoud-breadcrumbs {
	> .content {
		max-width: $content-width;
		margin: 0 auto;
		padding: 0 1rem;
	}
}


// INHOUD: KORTE QUOTE
.paragraphs-item-inhoud-korte-quote {
	> .content {
		max-width: 720px;
		margin: 0 auto;
		padding: 1rem;
		blockquote {
			margin: 0;
			p {
				border-top: 1px solid #f1f1f1;
				border-bottom: 1px solid #f1f1f1;
				padding: 1rem 0;
				margin-bottom: 0;
				font-family: $font-middle;
				font-size: 1.5rem;
				&:before {
					content: "\201C";
				}
				&:after {
					content: "\201D";
				}
			}
		}
	}
}


// INOUD: 1 KOLOM
.paragraphs-item-inhoud-1-kolom {
	> .content {
		max-width: $content-width;
		margin: 0 auto;
		padding: 0 1rem;
	}
}


// INHOUD: 2 KOLLOMEN
.paragraphs-item-inhoud-2-kolom {
	> .content {
		max-width: $content-width;
		margin: 0 auto;
		padding: 0 1rem;
		display: grid;
		grid-column-gap: 1rem;
	}
}
@media screen and (min-width: 480px) {
	.paragraphs-item-inhoud-2-kolom {
		> .content {
			grid-template-columns: 1fr 1fr;
		}
	}
}


//INHOUD: 3 KOLLOMEN
.paragraphs-item-inhoud-3-kolom {
	> .content {
		max-width: $content-width;
		margin: 0 auto;
		padding: 0 1rem;
		display: grid;
		grid-column-gap: 1rem;
	}
}
@media screen and (min-width: 640px) {
	.paragraphs-item-inhoud-3-kolom {
		> .content {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}


// FORMULIER: Met tekst
.paragraphs-item-blok-formulier-met-tekst {
	background: #f1f1f1;
	display: grid;
	justify-content: center;
	padding: 3rem 0;
	> .content {
		background: #fff;
		max-width: 1400px;
		.field-inhoud {
			padding: 0 1rem;
		}
	}
}
@media screen and (min-width: $content-width) {
	.paragraphs-item-blok-formulier-met-tekst {
		> .content {
			display: grid;
			grid-template-columns: 1fr minmax(auto, 460px);
			grid-column-gap: 1rem;
			padding: 2rem 3rem;
			.field-type-entityreference {
				padding-left: 1rem;
				border-left: 3px dashed #ddd;
			}
		}
	}
}


// TK2021 POSTER
.paragraphs-item-tk2021-poster {
	background: $color1;
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	overflow: hidden;
	color: #fff;
	> .content {
		h1 {
			margin-bottom: 0;
		}
		.field-name-field-titel-linebreak {
			color: #fff;
			font-size: 3rem;
			margin-top: -2rem;
		}
		.stem-sp {
			color: $color2;
			color: #21235fc7;
		}
	}
}
.paragraphs-item-tk2021-poster:before {
    font-family: $sp-icons;
    content: 'T';
    line-height: 1;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    margin-top: -4rem;
}
.paragraphs-item-tk2021-poster:after {
    font-family: $sp-icons;
    content: 'T';
    line-height: 1;
    display: block;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    height: 4rem;
}
@media screen and (min-width: 600px){
	.paragraphs-item-tk2021-poster {
		> .content {
			.field-name-field-titel-linebreak {
				font-size: 6rem;
				margin-top: -4rem;
			}
		}
	}
	.paragraphs-item-tk2021-poster:before {
	    font-size: 16rem;
	    margin-top: -8rem;
	}
	.paragraphs-item-tk2021-poster:after {
	    font-size: 16rem;
	    height: 8rem;
	}	
}

// HERO: Volledige pagina met slide
.paragraphs-item-hero-slide .content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: $fullscreen_height;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-content: center;
	justify-content: center;
	.field-name-field-afbeelding {
		grid-area: 1 / 1 / 2 / 2;
		background: #000;
		img {
			display: grid;
			min-width: 360px;
			width: 100%;
			height: $fullscreen_height;
			object-fit: cover;
		}
		// Fade effect for images
		.slide-item {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1s;
		}
		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}
		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}
	}
	.field-name-field-inhoud {
		grid-area: 1 / 1 / 2 / 2;
		display: grid;
		align-items: end;
		margin-left: 1rem;
		margin-right: 1rem;
		color: #fff;
		text-shadow: $text-shadow;
		padding-bottom: 10vh;
		z-index: 1;
		a.btn {
			text-shadow: none;
			border: none;
			box-shadow: $box-shadow;
			line-height: 1.2;
		}
		h1 {
			font-size: 2rem;
			font-size: calc(2rem + 2vw);
			color: #fff;
			line-height: 1.2;
		}
		p {
			font-family: $font-middle;
			font-size: 1.5rem;
			font-size: calc(2rem + 2vw);
			line-height: 1.2;
		}
	}
}