.social-footer {
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	border-top: 1px solid #ddd;
	display: grid;
	justify-content: center;
	align-content: center;
	z-index: 1;
	padding: 1rem;
	.social-bar {
		text-align: center;
		h2 {
			color: #000;
			font-size: 1.2rem;
		}
		ul {
			list-style: none;
			padding-left: 0rem;
		}
	}
	#social-follow,
	#social-share {
		display: none; // toggles with main.js on buttons
	}
	#social-follow {
		.btn {
			min-width:174px;
		}
	}
	#social-share {
		ul {
			padding-left: 0;
			li {
				display: inline-block;
			}
		}
	}

	// needs work
	#follow,
	#share {
		background: none;
		border: 2px solid #fff;
		min-width: 128px;
		&:hover {
			color: #000;
			border: 2px solid #ddd;
		}
		&:focus {
			outline: none; //quickfix
		}
	}
	#follow.active,
	#share.active {
		border: 2px solid #ddd;
	}

}