.social-footer {
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	border-top: 1px solid #ddd;
	display: grid;
	justify-content: center;
	align-content: center;
	z-index: 1;
	padding: 1rem;
	.social-bar {
		max-width: 640px;
		ul {
			list-style: none;
			padding-left: 1rem;
			li a {
				padding: 0.25rem 0;
				display: block;
				color: #000;

			}
		}
	}
	#social-follow,
	#social-share {
		display: none; // toggles with main.js on buttons
	}

	// needs work
	#follow,
	#share {
		background: none;
		border: 2px solid #fff;
		border-radius: 4px;
		&:hover {
			color: #000;
			border: 2px solid #ddd;
		}
	}
	#follow.active,
	#share.active {
		border: 2px solid #ddd;
	}

}