// VIEW KANDIDATEN
.view-kandidaten {
	.view-content {
		display: grid;
		justify-content: center;
		text-align: center; //quickfix
		grid-template-columns: minmax(auto, 960px);
		grid-row-gap: 2rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.views-row {
		.field-content {
			display: inline-grid;
			grid-template-columns: auto 350px 1fr;
			grid-template-rows: auto;
			grid-template-areas:
				"positie portret info";
			.positie {
				grid-area: positie;
				align-self: start;
				background: $color1;
				color: #fff;
				font-family: $font-middle;
				font-size: 2rem;
				padding: 0.25rem 0.5rem;
			}
			.portret {
				grid-area: portret;
				img {
					display: block; //prevent whitespace
				}
			}
			.info {
				grid-area: info;
				background: #fff;
				padding: 2rem;
				text-align: left;
			}
		}
	}
}
@media screen and (max-width: 960px){
	.view-kandidaten{
		.views-row {
			.field-content {
				grid-template-columns: auto 200px minmax(auto, 400px);
				.intro {
					display: none;
				}
			}
		}
	}
}
@media screen and (max-width: 620px){
	.view-kandidaten{
		.views-row {
			.field-content {
				grid-template-columns: auto;
				grid-template-areas:
				"positie"
				"portret"
				"info";
				.positie {
					position: absolute;
				}
				.info {
					padding: 1rem 1rem 2rem 1rem;
				}
			}
		}
	}
}

// COPY FROM kandidaat.scss
.view-kandidaten .social {
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
	font-family: $sp-icons;
	margin-top: 0.5rem;
	a.facebook,
	a.twitter,
	a.instagram,
	a.linkedin {
		font-size: 0;
		margin-right: .25rem;
	}
	a.facebook:after,
	a.twitter:after,
	a.linkedin:after {
		background: #000;
		padding: .25rem;
		background: $color1;
		color: #fff;
		font-size: 1.5rem;
		display: inline-block;
	}
	a.instagram:after {
		background: #000;
		padding: .5rem;
		background: $color1;
		color: #fff;
		font-size: 1rem;  //quickfix icon size
		display: inline-block;
	}			
	a.facebook:hover::after,
	a.twitter:hover::after,
	a.instagram:hover::after,
	a.linkedin:hover::after {
		background: #000;
	}
	a.facebook:after {
		content: 'f';
	}
	a.twitter:after {
		content: 't';
	}
	a.instagram:after {
		content: 'i';
	}
	a.linkedin:after {
		content: 'l';
	}
}