// VIEW INZENDINGEN
// add 'view-inzendingen' as css class to view in settings
.view-inzendingen {
	margin: 0 auto;
	padding: 1rem;
	background: #f1f1f1;
	.view-header,
	.view-filter {
		max-width: 960px;
		margin: 0 auto;
		padding: 1rem;
	}
	.views-row {
		max-width: 960px;
		margin: 0 auto;
		padding: 1rem 1rem 1rem 2rem;
		background: #fff;
		border-left: 4px solid #ec1b23;
		margin-bottom: 2rem;
	}
	.form-item label {
		display: block;
	}
}