// BASE
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    box-sizing: border-box;
}


html {
    font-size: 16px; //set as root size
    line-height: 1;
    width: 100%; // set ICB
    height: 100%;
}
@media screen and (min-width: 1980px){
    html {
        font-size: 20px;
    }
}
@media screen and (min-width: 2560px){
    html {
        font-size: 24px;
    }
}
body {
    font-family: $font-body;
}


h1,h2,h3,h4,h5,h6 {
    margin: 0 0 1rem 0;
    line-height: 1;
    font-family: $font-primary;
    font-weight: 400;
    text-transform: uppercase;

}
h1 {font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
    margin-top: 8px;
}   
h3 {
    font-size: 1.17rem;
    margin-top: 14px;
}   
h4 {
    font-size: 1rem;
    margin-top: 16px;
}   
h5 {
    font-size: 0.83rem;
    margin-top: 19px;
}   
h6 {
    font-size: 0.67rem;
    margin-top: 22px;
} 

h1 a:hover,
h2 a:hover {
    text-decoration: none;
    color: #000;
}


p {
    font-family: $font-body;
    margin: 0 0 1rem 0;
    font-size: 1rem; //16px
    line-height: 1.5rem; //24px

    strong {
      font-weight: normal;
      font-family: $font-strong;
    }
}
@media screen and (min-width: 768px){
    p {
        font-size: 1.125rem; // 18px
        line-height: 1.62rem; // 26px 
    }
}



ul {
   line-height: 1.5rem;  
}
@media screen and (min-width: 768px){
    ul {
        line-height: 1.62rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 2px solid #0276BA; //important
}